# close the bell
set bell-style none


# you can see https://wiki.archlinux.org/index.php/Home_and_End_keys_not_working
# All of these try to map your Home/End key values
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[7~": beginning-of-line
"\e[8~": end-of-line
"\eOH": beginning-of-line
"\eOF": end-of-line
"\e[H": beginning-of-line
"\e[F": end-of-line

# Ctrl + left or right
"\eOC": forward-word
"\eOD": backward-word
"\eOd": backward-word
"\eOc": forward-word

## enable Alt-arrows 
# then you can use alt+left or right to move a word
"\e[1;5D": backward-word 
"\e[1;5C": forward-word 
